
.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: url(./assets/background.svg) no-repeat center center fixed;
}