@import 'js/components/app.scss';

.training-card {
	.content {
		height: 200px;
		font-size: 14px;
		.content-row {
			margin-top: 4px;
		}
		.description {
			margin-top: 4px;
			font-size: 18px;
			font-weight: bold;
		}
		.subtitle {
			font-weight: bold;
		}
		.body {
			@include multilineEllipsis(16px, 1.2, 4);
			height: auto;
			margin: 0;
			.bubble-label {
				// font-size: 13.5px;
				background-color: $primaryColor;
				color: snow;
				border-radius: 20px;
				padding: 1px 6px;
			}
			.copyright {
				background-color: grey;
			}
			.license {
				background-color: #e80a4d;
			}
			.time {
				background-color: purple;
			}
			.prerequisites {
				background-color: red;
			}
		}
	}
}
