
/**
 * Définitions des symboles des icones
 **/
 @font-face {
	font-family: Marianne;
	src: url(./Marianne-Light.woff2) format("woff2"), url(./Marianne-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal; }
  
  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Light_Italic.woff2) format("woff2"), url(./Marianne-Light_Italic.woff) format("woff");
	font-weight: 300;
	font-style: italic; }
  
  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Regular.woff2) format("woff2"), url(./Marianne-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal; }
  
  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Regular_Italic.woff2) format("woff2"), url(./Marianne-Regular_Italic.woff) format("woff");
	font-weight: 400;
	font-style: italic; }
  
  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Bold.woff2) format("woff2"), url(./Marianne-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal; }
  
  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Bold_Italic.woff2) format("woff2"), url(./Marianne-Bold_Italic.woff) format("woff");
	font-weight: 700;
	font-style: italic; }

  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Bold.woff2) format("woff2"), url(./Marianne-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal; }
  
  @font-face {
	font-family: Marianne;
	src: url(./Marianne-Bold_Italic.woff2) format("woff2"), url(./Marianne-Bold_Italic.woff) format("woff");
	font-weight: 700;
	font-style: italic; }