.footer {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	text-align: center;
	height: 190px;
	background-color: snow;
	padding-top: 30px;
	.liens-rapides {
		padding: 18px 0;
		.lien-rapide {
			text-transform: capitalize;
			max-height: 38px;
			.icone {
				margin-right: 4px;
			}
		}
	}

	.lien-simple {
		text-decoration: none;
		color: black;
		margin: 2px 5px;
		&:visited {
			color: inherit;
		}
		&:hover {
			text-decoration: underline;
		}
		.chevron {
			padding-top: 3px;
			font-size: 14px;
		}
	}
}
