{
	"parser": "babel-eslint",
	"extends": ["airbnb"],
	"globals": {
		"fetch": false
	},
	"env": {
		"browser": true
	},
	"rules": {
		"semi": [2, "never"],
		"arrow-body-style": 0,
		"import/no-named-as-default": 0,
		"import/prefer-default-export": 0,
		"import/no-unresolved": 0,
		"import/extensions": 0,
		"import/no-extraneous-dependencies": 0,
		"react/forbid-prop-types": 0,
		"react/jsx-filename-extension": 0,
		"max-len": [1, { "code": 400 }],
		"comma-dangle": 0,
		"react/no-danger": 0,
		"no-underscore-dangle": ["error", { "allowAfterThis": true }]
	}
}
