.mes-fichiers {
	.actions {
		width: 240px;
		.action {
			display: inline-block;
		}
	}
}

.dialogue-upload {
	.info {
		margin: 8px 1px;
	}

	.icone-bouton {
		margin-right: 5px;
	}
}
