imagePullSecrets: []
hostAliases: []

ingress:
  enabled: false
  # The name of the Ingress Class associated with this ingress
  ingressClassName: ""
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

route:
  enabled: false
  annotations: {} # route.openshift.io/termination: "reencrypt"
  host: chart-example.local
  tls:
    termination: edge
    # key:
    # certificate:
    # caCertificate:
    # destinationCACertificate:
  wildcardPolicy: None

web:
  name: web
  replicaCount: 1
  image:
    repository: inseefrlab/onyxia-web
    tag: 4.42.0
    pullPolicy: IfNotPresent

  ## Pod priority settings
  ## ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
  ##
  priorityClassName: ""

  podLabels: {}
  podSecurityContext: {} # fsGroup: 2000
  securityContext:
    {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000
  containerPort: 8080
  service:
    type: ClusterIP
    port: 80
  resources:
    #limits:
    requests:
      cpu: 200m
      memory: 128Mi
  extraVolumes: []
  extraVolumeMounts: []
  nodeSelector: {}
  tolerations: []
  affinity: {}
  env:

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name:
  livenessProbe:
    enabled: true
    path: /
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  readinessProbe:
    enabled: true
    path: /
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  startupProbe:
    enabled: false
    path: /
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1

api:
  name: api
  replicaCount: 1
  image:
    repository: inseefrlab/onyxia-api
    tag: v4.4.0
    pullPolicy: IfNotPresent
  contextPath: /api

  ## Pod priority settings
  ## ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
  ##
  priorityClassName: ""

  podLabels: {}
  podSecurityContext: {} # fsGroup: 2000
  securityContext:
    {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000
  containerPort: 8080
  service:
    type: ClusterIP
    port: 80
  resources:
    #limits:
    requests:
      cpu: 1
      memory: 1Gi
  extraVolumes: []
  extraVolumeMounts: []
  nodeSelector: {}
  tolerations: []
  affinity: {}
  env: #authentication.mode: "openidconnect"
  regions:
    #[
    #   {

  #     "regionId": "kub",
  #     "type": "KUBERNETES",
  #     "namespace-prefix": "user-",
  #     "publish-domain": "fakedomain.kub.example.com",
  #     "cloudshell": {
  #       "catalogId": "inseefrlab-helm-charts-datascience",
  #       "packageName": "cloudshell"
  #     }
  #   }
  # ]
  catalogs:
    # [
    #   {
    #     "id": "inseefrlab-helm-charts-datascience",
    #     "name": "Inseefrlab datascience",
    #     "description": "Services for datascientists. https://github.com/InseeFrLab/helm-charts-datascience",
    #     "maintainer": "innovation@insee.fr",
    #     "location": "https://inseefrlab.github.io/helm-charts-datascience",
    #     "status": "PROD",
    #     "type": "helm",
    #   }
    # ]
  userProfile:
    enabled: true
    rootPath: /userProfile/
    subPathDefault: default
    subPathRole: role
    default:
      profileSchema: |
        "git": {
          "title": "Git access",
          "type": "object",
          "properties": {
            "enabled": {
              "title": "Enable git access from within the service",
              "type": "boolean",
              "default": true
            },
            "name": {
              "title": "User name",
              "type": "string",
              "default": "",
              "x-onyxia": {
                "overwriteDefaultWith": "{{git.name}}"
              },
              "hidden": {
                "value": false,
                "path": "enabled",
                "isPathRelative": true
              }
            },
            "email": {
              "title": "User email",
              "type": "string",
              "default": "",
              "x-onyxia": {
                "overwriteDefaultWith": "{{git.email}}"
              },
              "hidden": {
                "value": false,
                "path": "enabled",
                "isPathRelative": true
              }
            },
            "cache": {
              "title": "Credentials caching duration",
              "description": "(in seconds)",
              "type": "string",
              "default": "",
              "x-onyxia": {
                "overwriteDefaultWith": "{{git.credentials_cache_duration}}"
              },
              "hidden": {
                "value": false,
                "path": "enabled",
                "isPathRelative": true
              }
            },
            "token": {
              "title": "Personal Access Token",
              "type": "string",
              "default": "",
              "render": "password",
              "x-onyxia": {
                "overwriteDefaultWith": "{{git.token}}"
              },
              "hidden": {
                "value": false,
                "path": "enabled",
                "isPathRelative": true
              }
            },
            "repository": {
              "title": "Project repository",
              "description": "cloned in service",
              "type": "string",
              "default": "",
              "x-onyxia": {
                "overwriteDefaultWith": "{{git.project}}"
              },
              "hidden": {
                "value": false,
                "path": "enabled",
                "isPathRelative": true
              }
            },
            "branch": {
              "title": "Specific branch to use",
              "type": "string",
              "default": "",
              "hidden": {
                "value": false,
                "path": "enabled",
                "isPathRelative": true
              }
            }
          }
        }
    roles:
      #- roleName: datascientist
      #  profileSchema: |
      #    ...
  schemas:
    enabled: false
    rootPath: /schemas/
    subPathDefault: default
    subPathRole: role
    roles:
      #  - roleName: datascientist
      #    files:
      #      - relativePath: nodeSelector.json
      #        content: |
      #  {
      #    "$schema": "http://json-schema.org/draft-07/schema#",
      #    "title": "Node Selector",
      #    "type": "object",
      #    "properties": {
      #      "disktype": {
      #        "description": "The type of disk",
      #        "type": "string",
      #        "enum": ["ssd", "hdd"]
      #      },
      #      "gpu": {
      #        "description": "The type of GPU",
      #        "type": "string",
      #        "enum": ["A2", "H100"]
      #      }
      #    },
      #    "additionalProperties": false
      #  }
    files:
      []
      # - relativePath: nodeSelector.json
      #   content: |
      #  {
      #    "$schema": "http://json-schema.org/draft-07/schema#",
      #    "title": "Node Selector",
      #    "type": "object",
      #    "properties": {
      #      "disktype": {
      #        "description": "The type of disk",
      #        "type": "string",
      #        "enum": ["ssd", "hdd"]
      #      }
      #    },
      #    "additionalProperties": false
      #  }
  livenessProbe:
    enabled: true
    path: /public/healthcheck
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  readinessProbe:
    enabled: true
    path: /public/healthcheck
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  startupProbe:
    enabled: false
    path: /public/healthcheck
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # If true, the created service account is bound to a ClusterRole (default : cluster-admin) ;
    # if false, it is instead bound to the admin Role, and thus scoped to the namespace
    clusterAdmin: false
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: # Boolean to indicate whether the service account token must be injected into the pod or not. It can be deactivated if Onyxia doesn't use it.

    automountServiceAccountToken: true
