$colorTheme: grey;

.pile {
	display: inline-block;
	margin-right: 20px;
	.pile-vertical {
		display: table;
		margin: 0 auto;
		border: 1px solid black;
		border-radius: 3px;
		background-color: silver;

		.node {
			display: block;
			margin: 1px;
			width: 18px;
			height: 5px;
		}

		.node-small {
			display: block;
			margin: 1px;
			width: 9px;
			height: 2px;
		}

		.green-small {
			@extend .node-small;
			background-color: palegreen;
		}

		.red-small {
			@extend .node-small;
			background-color: red;
		}

		.orange-small {
			@extend .node-small;
			background-color: orange;
		}

		.empty-small {
			@extend .node-small;
			background-color: snow;
		}

		.green {
			@extend .node;
			background-color: palegreen;
		}

		.empty {
			@extend .node;
			background-color: snow;
		}
	}

	.pile-label {
		position: absolute;
		margin-top: -20px;
		margin-left: 20px;
		.titre-label {
			background-color: $colorTheme;
			color: snow;
			border-radius: 3px;
			font-size: 12px;
			margin-left: -2px;
			padding: 0px 3px;
		}
		.label-sous-titre {
			display: block;
			bottom: 0;
			font-size: 10px;
			color: gray;
			margin-top: -10px;
			text-align: center;
		}
		.badge {
			font-size: 10px;
			width: 12px;
			height: 12px;
			top: -2px;
			right: -8px;
		}
	}
}
