@import './../../app.scss';
$font-size-titre: 16px;
$font-size-corps: 14px;

$colorTheme: grey;

.mes-service-modal {
	.bouton-fermer {
		backgroud-color: red;
	}

	.metrique {
		@include shadow();
		background-color: $primaryColor;
		margin: 5px 5px;
		color: snow;
		padding: 3px 6px;
		border-radius: 5px;
	}
}

.mes-services {
	@include carteService();
	.pile {
		float: left;
		margin-right: 20px;
		.pile-label {
			margin-top: -20px;
			margin-left: 20px;
			.titre-label {
				background-color: $colorTheme;
				color: snow;
				border-radius: 3px;
				font-size: 12px;
				margin-left: -2px;
				padding: 0px 3px;
			}
			.badge {
				font-size: 10px;
				width: 12px;
				height: 12px;
				top: -2px;
				right: -8px;
			}
		}
	}

	.chronometre {
		margin: 10px 16px;
		.jours {
			font-family: 'Lucida Console', Monaco, monospace;
			display: inline-block;
			height: 15px;
			width: 15px;
			color: $colorTheme;
			text-align: center;
			font-size: 12px;
			float: left;

			&:after {
				content: 'jours';
				display: block;
				font-size: 10px;
				margin-left: -6px;
				position: absolute;
			}
		}
		.reste {
			font-family: 'Lucida Console', Monaco, monospace;
			font-size: 14px;
			background-color: $colorTheme;
			color: snow;
			border-radius: 4px;
			padding: 4px 6px;
			margin-left: 14px;
			font-weight: bold;

			border: none;
			box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.7);

			-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
			-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
			-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
			animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
		}
	}

	.mes-service-actions {
		width: 100px;
		height: 50px;
		border-radius: 5px;
		padding: 5px 5px;
		background-color: $primaryColor;
		margin-bottom: 15px;
		.bouton {
			margin-right: 5px;
		}

		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
			0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	}
}

@-webkit-keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
@-moz-keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
@-ms-keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
@keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
