@import './../../../../../app.scss';

.monkey-of-chaos {
	position: absolute;
}
.en-tete-service {
	.service {
		.titre {
			display: flex;
			justify-content: center;
		}
	}
}
.nouveau-service {
	background-color: snow;
	.monkey {
		background-image: url('/images/monkey.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.description {
		margin-top: 8px;
		height: 80px;
		background-color: snow;
	}
	.formulaire {
		margin: 8px 18px;
		min-height: 150px;
		.champ-texte {
			padding-right: 20px;
		}
		.champ-nombre {
		}
		.champ-media-war {
			.war-url {
				width: 100%;

				position: relative;
				.root {
					position: absolute;
					background-color: snow;
					width: 100%;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.actions {
		position: relative;
		margin-top: 48px;
		padding-left: 40px;
	}
}
