.accueil {
	background-color: snow;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	.bienvenue {
		margin-top: 0.5em;
		.message {
			background-color: #00000000;
			.title {
				margin: 0;
				background-color: transparent;
				font-family: roboto, sans-serif;
				padding-left: 0.4em;
				margin: 0;
				h1 {
					font-size: 2.25em;
					font-weight: bold;
				}
				h2 {
					font-size: 3em;
				}
			}
		}
		.content {
			margin-top: 1em;
			font-size: 1.2em;
			padding: 0.4em;
			button {
				margin-left: 70%;
				border: 0.1em solid black;
				font-size: 1.1em;
			}
		}
	}

	.valeurs {
		margin-top: 200px;
		.carte {
			h3 {
				font-size: 2.25em;
				font-weight: bold;
			}
		}
	}

	.applications {
		margin-top: 5em;
		.app {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: auto;
			.commentaires {
				padding: 16px 15px;
				height: 100%;
				position: relative;
				width: 60%;
				// background-color: snow;
				.bouton {
					text-align: center;
					background-color: snow;
				}
				.resume {
					margin: 18px 10px;
				}
				.avantage {
					font-size: 18px;
					font-weight: bold;
					margin: 12px 10px;
					.chevron {
						color: black;
						float: left;
					}
				}
			}
			.image {
				height: 100%;
				width: 50%;

				display: inline-block;
				// background-color: lightseagreen;
				img {
					margin-top: 2em;
					margin-bottom: 2em;
					width: 100%;
					height: 300px;
				}
			}
		}
	}

	.precautions {
		width: 100%;
		height: 230px;
		position: relative;
		margin-top: 5em;

		.image {
			width: 100%;
			height: 230px;
			background-image: url('/images/dont-fall.jpeg');
			background-repeat: no-repeat;
			// background-attachment: fixed;
			// background-size: 100%;
		}

		.calque {
			height: 230px;
			width: 100%;
			position: absolute;
			background-color: #00000070;

			.titre {
				color: snow;
				margin-bottom: 20px;
			}
			.contenu {
				width: 100%;
				background-color: transparent;
				color: snow;
			}
			padding: 20px 60px;
		}
	}
}
