@import './../../app.scss';

.chips-selector {
	position: relative;
	margin-bottom: 5px;
	.searchbar {
		background-color: snow;
		margin-top: 5px;
	}

	.hidable-panel {
		z-index: 10;
	}

	.propositions {
		position: absolute;
		background-color: snow;
		z-index: 10;
		padding: 5px 8px;
		border-radius: 3px;
		max-width: 350px;

		@include shadow();
	}

	.tag-token {
		background-color: #d6eaf8;
		border: #1b4f72 solid 1px;
		color: #1b4f72;
		.icone .symbol {
			background-color: #1b4f72;
		}
	}

	.app-name {
		background-color: #e8daef;
		border: #4a235a solid 1px;
		color: #4a235a;
		.icone .symbol {
			background-color: #4a235a;
		}
	}

	.over-chip {
		background-color: #fef9e7;
		border: #7d6608 solid 1px;
		color: #7d6608;
		.icone .symbol {
			background-color: #7d6608;
		}
	}

	.chip {
		display: inline-block;
		height: 30px;
		padding: 0px 2px;
		margin: 2px 1px;
		border-radius: 3px;
		font-weight: bold;

		.texte {
			line-height: 30px;
			margin-right: 8px;
			margin-left: 8px;
			white-space: nowrap;
		}

		.icone {
			margin-top: 2px;
			float: right;
			font-size: 12px;

			font-weight: bold;
			.symbol {
				border-radius: 50%;
				color: snow;
			}
		}

		&:hover {
			cursor: pointer;
			@extend .over-chip;
		}
	}
}
