@import './../../app.scss';
$font-size-titre: 16px;
$font-size-corps: 14px;

$colorTheme: grey;

.mes-service-modal {
	.bouton-fermer {
		backgroud-color: red;
	}

	.metrique {
		@include shadow();
		background-color: $primaryColor;
		margin: 5px 5px;
		color: snow;
		padding: 3px 6px;
		border-radius: 5px;
	}
}

.confirm-pause-all {
	margin: 8px 8px;
	.warning {
		float: left;
		margin: 0 20px;
	}
}

.mes-services {
	@include carteService();
	.pile {
		float: left;
		margin-right: 20px;
		.pile-label {
			margin-top: -20px;
			margin-left: 20px;
			.titre-label {
				background-color: $colorTheme;
				color: snow;
				border-radius: 3px;
				font-size: 12px;
				margin-left: -2px;
				padding: 0px 3px;
			}
			.badge {
				font-size: 10px;
				width: 12px;
				height: 12px;
				top: -2px;
				right: -8px;
			}
		}
	}

	.chronometre {
		margin: 10px 16px;
		.jours {
			font-family: 'Lucida Console', Monaco, monospace;
			display: inline-block;
			height: 15px;
			width: 15px;
			color: $colorTheme;
			text-align: center;
			font-size: 12px;
			float: left;

			&:after {
				content: 'jours';
				display: block;
				font-size: 10px;
				margin-left: -6px;
				position: absolute;
			}
		}
		.reste {
			font-family: 'Lucida Console', Monaco, monospace;
			font-size: 14px;
			background-color: $colorTheme;
			color: snow;
			border-radius: 4px;
			padding: 4px 6px;
			margin-left: 14px;
			font-weight: bold;

			border: none;
			box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.7);

			-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
			-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
			-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
			animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
		}
	}

	.expired {
		position: absolute;
		height: 100%;
		width: 100%;

		.texte {
			position: relative;
			margin-left: 3%;
			margin-right: auto;
			width: 45%;
			background-color: yellow;
			border-radius: 4px;
			height: 12%;
			font-size: 65%;
			margin-top: 100%;
			font-weight: bolder;
			z-index: 2;
			color: black;			
		}

		@keyframes blinkingText {
			0% {
				background-color: transparent;
				color: transparent;
			}
			50% {
				background-color: red;
				color: snow;
			}
			100% {
				background-color: transparent;
				color: transparent;
			}
		}
	}
}

@-webkit-keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
@-moz-keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
@-ms-keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
@keyframes pulse {
	to {
		box-shadow: 0 0 0 3px rgba(251, 140, 0, 0);
	}
}
