.visite-guidee {
	width: 100%;
	.contenu {
		background-color: aliceblue;
		position: absolute;
		top: 20px;
		min-height: 150px;

		.actions {
			button {
				margin-left: 5px;
			}
		}
	}
}

.custom-backdrop {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.3);
	overflow-y: auto;
}

.arrow-left {
	z-index: 9999;
	position: absolute;
	left: -65px;
	top: 0px;
}

.mask {
	z-index: 1300;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(150, 255, 0, 0.6);
}

.fab {
	width: 40px;
	height: 40px;
}
