@import './../app.scss';

.login-modal {
	@include applicationModal();

	.container {
		width: 450px;

		.contenu {
			text-align: center;
			padding: 10px 0;

			.bouton-login {
				font-size: 12px;
				width: 350px;
				.icone-keycloak {
					width: 24px;
					height: 24px;
					margin-right: 12px;
				}
			}
		}
	}
}
