.onyxia-modal {
	.modal-titre {
		background-color: mediumaquamarine;

		.avatar {
			float: left;
		}

		.texte {
			margin-left: 20px;
			padding-top: 8px;
			color: white;
		}
		.texte-light {
			font-size: 14px;
			margin-left: 20px;
			color: gold;
		}
	}

	.contenu {
		padding-top: 18px;
		margin: 0 50px;
		font-size: 14px;

		.description {
			padding-top: 8px;
			display: block;

			.titre {
				display: block;
				font-size: 18px;
				font-weight: bold;
				padding-bottom: 8px;
			}
			.carreau {
				display: inline-block;
				width: 50px;
				margin-bottom: 14px;
			}
		}
	}
}
