
[class$="-BrandHeaderSection-logoContainer"] {
    width: 130px !important;
    margin-right: 0.25em;
}
[class$="-BrandHeaderSection-logo"] {
    width: 100% !important;
}

/* Hide Project Settings */
nav div a[ href="/project-settings"] {
    display: none;
}