.jsoneditor-react-container {
	width: 100%;
	height: 100%;
}

div.jsoneditor-menu {
	background-color: #2a5885;
	border: 1px solid #2a5885;
}

div.jsoneditor-outer {
	width: 100%;
	height: 600px;
}
