REACT_APP_ONYXIA_API_URL=https://datalab.sspcloud.fr/api
REACT_APP_HEADER_TEXT_BOLD=SSP Cloud
REACT_APP_HEADER_TEXT_FOCUS=Datalab
REACT_APP_TERMS_OF_SERVICES={ "en": "https://www.sspcloud.fr/tos_en.md", "fr": "https://www.sspcloud.fr/tos_fr.md" }
REACT_APP_HEADER_LINKS=[{ "label": { "en": "Training", "fr": "Formations" }, "icon": "www.sspcloud.fr/trainings.svg", "url": "https://www.sspcloud.fr/formation" }, { "label": "Documentation", "icon": "AutoStories", "url": "/catalog/dataviz" }]
#REACT_APP_GLOBAL_ALERT={ "severity": "success", "message": { "en": "See what's **new**! [Blog post](https://example.com)!", "fr": "Découvrez les nouveautés ! [Article de blog](https://example.com)!" } }
#REACT_APP_PALETTE_OVERRIDE= { "focus": { "main": "#067A76", "light": "#0AD6CF", "light2": "#AEE4E3" }, "dark": { "main": "#2D1C3A", "light": "#4A3957", "greyVariant1": "#22122E", "greyVariant2": "#493E51", "greyVariant3": "#918A98", "greyVariant4": "#C0B8C6" }, "light": { "main": "#F7F5F4", "light": "#FDFDFC", "greyVariant1": "#E6E6E6", "greyVariant2": "#C9C9C9", "greyVariant3": "#9E9E9E", "greyVariant4": "#747474" } }
#REACT_APP_FONT= { "fontFamily": "Geist", "dirUrl": "%PUBLIC_URL%/fonts/Geist", "400": "Geist-Regular.woff2", "500": "Geist-Medium.woff2", "600": "Geist-SemiBold.woff2", "700": "Geist-Bold.woff2" }