REACT_APP_ONYXIA_API_URL=https://datalab.sspcloud.fr/api
REACT_APP_HEADER_TEXT_BOLD=SSP Cloud
REACT_APP_HEADER_TEXT_FOCUS=Datalab Ultraviolet
REACT_APP_TERMS_OF_SERVICES={ "en": "https://www.sspcloud.fr/tos_en.md", "fr": "https://www.sspcloud.fr/tos_fr.md" }
REACT_APP_HEADER_LINKS=[{ "label": { "en": "Training", "fr": "Formations" }, "icon": "www.sspcloud.fr/trainings.svg", "url": "https://www.sspcloud.fr/formation" }, { "label": "Documentation", "icon": "AutoStories", "url": "/catalog/dataviz" }]
REACT_APP_EXTRA_LEFTBAR_ITEMS=[{ "label": { "en": "Training", "fr": "Formations" }, "icon": "www.sspcloud.fr/trainings.svg", "url": "https://www.sspcloud.fr/formation" }, { "label": "Documentation", "icon": "AutoStories", "url": "/catalog/dataviz" }]

#REACT_APP_GLOBAL_ALERT={ "severity": "success", "message": { "en": "See what's **new**! [Blog post](https://example.com)!", "fr": "Découvrez les nouveautés ! [Article de blog](https://example.com)!" } }

#REACT_APP_FONT={"fontFamily":"Marianne","dirUrl":"%PUBLIC_URL%/fonts/Marianne","400":"Marianne-Regular.woff2","400-italic":"Marianne-Regular_Italic.woff2","500":"Marianne-Medium.woff2","700":"Marianne-Bold.woff2","700-italic":"Marianne-Bold_Italic.woff2"}
#REACT_APP_PALETTE_OVERRIDE={"focus":{"main":"#000091","light":"#9A9AFF","light2":"#E5E5F4"},"dark":{"main":"#2A2A2A","light":"#383838","greyVariant1":"#161616","greyVariant2":"#9C9C9C","greyVariant3":"#CECECE","greyVariant4":"#E5E5E5"},"light":{"main":"#F1F0EB","light":"#FDFDFC","greyVariant1":"#E6E6E6","greyVariant2":"#C9C9C9","greyVariant3":"#9E9E9E","greyVariant4":"#747474"}}
#REACT_APP_HOMEPAGE_MAIN_ASSET=false

#REACT_APP_PALETTE_OVERRIDE= { "focus": { "main": "#067A76", "light": "#0AD6CF", "light2": "#AEE4E3" }, "dark": { "main": "#2D1C3A", "light": "#4A3957", "greyVariant1": "#22122E", "greyVariant2": "#493E51", "greyVariant3": "#918A98", "greyVariant4": "#C0B8C6" }, "light": { "main": "#F7F5F4", "light": "#FDFDFC", "greyVariant1": "#E6E6E6", "greyVariant2": "#C9C9C9", "greyVariant3": "#9E9E9E", "greyVariant4": "#747474" } }
#REACT_APP_FONT= { "fontFamily": "Geist", "dirUrl": "%PUBLIC_URL%/fonts/Geist", "400": "Geist-Regular.woff2", "500": "Geist-Medium.woff2", "600": "Geist-SemiBold.woff2", "700": "Geist-Bold.woff2" }
#REACT_APP_HOMEPAGE_MAIN_ASSET="%PUBLIC_URL%/illustrations/projets.png"
#REACT_APP_HOMEPAGE_MAIN_ASSET_SCALE_FACTOR=1.5
#REACT_APP_HOMEPAGE_MAIN_ASSET_Y_OFFSET=-50
#REACT_APP_HOMEPAGE_MAIN_ASSET_X_OFFSET=430